<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="error">
		<div class="error-big">404</div>
		<div class="error-logo">
			<a href="/">
				<img src="%=static=%img/general/logo.png" alt="Главная">
			</a>
		</div>
		<div class="error-title">
			Ошибка 404
		</div>
		<div class="error-desc">
			К сожалению, запрашиваемая страница не найдена, но есть другие, тоже хорошие
		</div>
		<div class="error-btn">
			<a href="/">На главную</a>
		</div>
		<div class="error-img">
			{{Icon iconName="error"}}
		</div>
	</div>
</body>

</html>