<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			<div class="main__slider">
				{{> main/main }}
			</div>

			<div class="about">
				<div class="about__text content">
					<div class="about__text-title">
						<h4 class="title">О компании</h4>
					</div>
					<div class="about__text-desc">
						<p class="about__text-par">Компания «Автомастер» начала свою работу в 2000 году. С этого же года она ведет деятельность в сфере сотрудничества с зарубежными поставщиками, поставляя широкий ассортимент автомобильного инструмента. Компания предоставляет возможность приобрести надежную продукцию известных брендов – SUMAKE, APELAS, FORCE, BAUM PROFESSIONAL, TRISCO, KING-TONY. Весь профессиональный автоинструмент сертифицирован – имеет не только российский сертификат соответствия, но и международный сертификат DIN EN ISO 9001:2000.</p>
						<p class="about__text-par">Ознакомиться с предлагаемой компанией продукцией можно, посетив демонстрационный зал. Здесь же можно получить консультацию сотрудников, которые ответят на все вопросы и помогут подобрать нужный автоинструмент. В демонстрационном зале с их помощью также можно составить заказ на автохимию и автокосметику.</p>
					</div>

					<div class="about__text-list">
						<span class="about__text-name">
							Что мы предлагаем своим клиентам:
						</span>

						<ul class="about__list">
							<li class="about__list-item">
								<span>Возможность сделать заказ по каталогам</span>
							</li>
							<li class="about__list-item">
								<span>Доставку выбранного товара по всей России</span>
							</li>
							<li class="about__list-item">
								<span>Выполнение гарантий, данных заводом-изготовителем</span>
							</li>
							<li class="about__list-item">
								<span>Техническая и информационная поддержка клиентов</span>
							</li>
							<li class="about__list-item">
								<span>Выгодные условия сотрудничества с региональными представителями</span>
							</li>
							<li class="about__list-item">
								<span>Систему скидок</span>
							</li>
						</ul>

						<p class="about__text-par">Основанная почти 20 лет назад компания «Автомастер» не прекращает развиваться и сегодня. Она сплотила коллектив единомышленников, которые работают на результат – продвижение на российский рынок отечественной и импортной продукции профессионального класса.</p>

						<div class="about__text-join">
							Приглашаем к сотрудничеству оптовых покупателей, занимающихся продажей автосервисного оборудования
						</div>

					</div>

				</div>	

				<div class="about__team">
					<div class="about__team-title">
						<h4 class="title">Наша команда</h4>
					</div>

					<div class="about__team-items">
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="%=static=%img/general/team/1.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+79978308146" class="team-link">+7 (997) 830-81-46</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:mail@gmail.com" class="team-link">mail@gmail.com</a>
							</div>
							<div class="about__team-skype">
								<a href="#" class="team-link">
									{{Icon iconName="skype"}}
									evgeniy-64
								</a>
							</div>
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="%=static=%img/general/team/2.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+79978308146" class="team-link">+7 (997) 830-81-46</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:mail@gmail.com" class="team-link">mail@gmail.com</a>
							</div>
							<div class="about__team-skype">
								<a href="#" class="team-link">
									{{Icon iconName="skype"}}
									evgeniy-64
								</a>
							</div>
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="%=static=%img/general/team/3.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+79978308146" class="team-link">+7 (997) 830-81-46</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:mail@gmail.com" class="team-link">mail@gmail.com</a>
							</div>
							<div class="about__team-skype">
								<a href="#" class="team-link">
									{{Icon iconName="skype"}}
									evgeniy-64
								</a>
							</div>
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="%=static=%img/general/team/4.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+79978308146" class="team-link">+7 (997) 830-81-46</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:mail@gmail.com" class="team-link">mail@gmail.com</a>
							</div>
							<div class="about__team-skype">
								<a href="#" class="team-link">
									{{Icon iconName="skype"}}
									evgeniy-64
								</a>
							</div>
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="%=static=%img/general/team/5.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+79978308146" class="team-link">+7 (997) 830-81-46</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:mail@gmail.com" class="team-link">mail@gmail.com</a>
							</div>
							<div class="about__team-skype">
								<a href="#" class="team-link">
									{{Icon iconName="skype"}}
									evgeniy-64
								</a>
							</div>
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="%=static=%img/general/team/6.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+79978308146" class="team-link">+7 (997) 830-81-46</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:mail@gmail.com" class="team-link">mail@gmail.com</a>
							</div>
							<div class="about__team-skype">
								<a href="#" class="team-link">
									{{Icon iconName="skype"}}
									evgeniy-64
								</a>
							</div>
						</div>

					</div>
				</div>

				<div class="sertificates">
					<div class="sertificates__title">
						<h4 class="title">Сертификаты официального диллера</h4>
					</div>
					<div class="sertificates__items">
						<a href="%=static=%img/general/sert/1.png" class="sertificates__item" data-fancybox="gallery">
							<img src="%=static=%img/general/sert/1.png" alt="Сертификат">
							<span>Force</span>
							<div class="zoom">
								{{Icon iconName="search"}}
							</div>
						</a>
						<a href="%=static=%img/general/sert/2.png" class="sertificates__item" data-fancybox="gallery">
							<img src="%=static=%img/general/sert/2.png" alt="Сертификат">
							<span>Force</span>
							<div class="zoom">
								{{Icon iconName="search"}}
							</div>
						</a>
						<a href="%=static=%img/general/sert/3.png" class="sertificates__item" data-fancybox="gallery">
							<img src="%=static=%img/general/sert/3.png" alt="Сертификат">
							<span>Force</span>
							<div class="zoom">
								{{Icon iconName="search"}}
							</div>
						</a>
						<a href="%=static=%img/general/sert/5.png" class="sertificates__item" data-fancybox="gallery">
							<img src="%=static=%img/general/sert/5.png" alt="Сертификат">
							<span>Force</span>
							<div class="zoom">
								{{Icon iconName="search"}}
							</div>
						</a>
						<a href="%=static=%img/general/sert/5.png" class="sertificates__item" data-fancybox="gallery">
							<img src="%=static=%img/general/sert/5.png" alt="Сертификат">
							<span>Force</span>
							<div class="zoom">
								{{Icon iconName="search"}}
							</div>
						</a>
						<a href="%=static=%img/general/sert/6.png" class="sertificates__item" data-fancybox="gallery">
							<img src="%=static=%img/general/sert/6.png" alt="Сертификат">
							<span>Force</span>
							<div class="zoom">
								{{Icon iconName="search"}}
							</div>
						</a>
						<a href="%=static=%img/general/sert/7.png" class="sertificates__item" data-fancybox="gallery">
							<img src="%=static=%img/general/sert/7.png" alt="Сертификат">
							<span>Force</span>
							<div class="zoom">
								{{Icon iconName="search"}}
							</div>
						</a>


					</div>
				</div>

			</div>

			<div class="padding-block"></div>

		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>