<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="actionPage">
				<div class="actionPage__title">
					<h3 class="title">Акции</h3>
				</div>

				<div class="action__items">
					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/1.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							В провинции никого не пугает шопот бессменных лидеров
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>

					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/2.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Нашу победу сопровождал старческий скрип Амстердама
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, явные признаки победы институционализации представлены в исключительно положительном свете.
						</div>
						<div class="date">
							14 марта 2020
						</div>
					</a>

					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/3.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Никте не вправе осуждать гитарный перебор
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>

					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/4.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Героям были возданы соответствующие почести
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, явные признаки победы институционализации представлены в исключительно положительном свете.
						</div>
						<div class="date">
							14 марта 2020
						</div>
					</a>

					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/5.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Граница обучения кадров оказалась ошибочной
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>

					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/2.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Случайный текст похож на полуночный пёсий вой
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, явные признаки победы институционализации представлены в исключительно положительном свете.
						</div>
						<div class="date">
							14 марта 2020
						</div>
					</a>

					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/3.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Граница обучения кадров оказалась ошибочной
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>

					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/1.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Прототип нового сервиса - это как глас грядущего поколения
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.
						</div>
						<div class="date">
							14 марта 2020
						</div>
					</a>


				</div>
			</div>
		</div>

		{{> seo/seo }}
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>