<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			
			<div class="autoservices">
				<div class="autoservices__title">
					<h3 class="title">Автосервисы</h3>
				</div>
				<div class="autoservices__items">
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/project1.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/3.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/4.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/5.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/6.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/7.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/8.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/9.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/10.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/11.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/12.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/13.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/project1.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/3.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/4.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/5.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/6.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/7.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/8.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
					<a href="#" class="autoservices__item">
						<img src="%=static=%img/general/autoservices/9.png" alt="Автосервис">
						<span>Автосервис «Shell Helix»</span>
					</a>
				</div>

				{{> pag/pag }}
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>