<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			
			<div class="brandsPage">
				<div class="brandsPage__title">
					<h3 class="title">Бренды</h3>
				</div>
				<div class="brandsPage__desc">
					Принимая во внимание показатели успешности, высокое качество позиционных исследований, а также свежий взгляд на привычные вещи безусловно открывает новые горизонты для развития общества.
				</div>

				<div class="brandsPage__content">
					<div class="title">Сертификаты официального диллера</div>

					<div class="sert-slider">
						<div class="slider-btn sert-btn-prev">
							{{Icon iconName="arrow"}}
						</div>
						<div class="slider-btn sert-btn-next">
							{{Icon iconName="arrow"}}
						</div>

						<div class="swiper-container sert-container">
							<div class="swiper-wrapper">
								<a href="%=static=%img/general/sert/1.png" class="sertificates__item swiper-slide" data-fancybox="gallery">
									<img src="%=static=%img/general/sert/1.png" alt="Сертификат">
									<span>Force</span>
									<div class="zoom">
										{{Icon iconName="search"}}
									</div>
								</a>
								<a href="%=static=%img/general/sert/2.png" class="sertificates__item swiper-slide" data-fancybox="gallery">
									<img src="%=static=%img/general/sert/2.png" alt="Сертификат">
									<span>Force</span>
									<div class="zoom">
										{{Icon iconName="search"}}
									</div>
								</a>
								<a href="%=static=%img/general/sert/3.png" class="sertificates__item swiper-slide" data-fancybox="gallery">
									<img src="%=static=%img/general/sert/3.png" alt="Сертификат">
									<span>Force</span>
									<div class="zoom">
										{{Icon iconName="search"}}
									</div>
								</a>
								<a href="%=static=%img/general/sert/5.png" class="sertificates__item swiper-slide" data-fancybox="gallery">
									<img src="%=static=%img/general/sert/5.png" alt="Сертификат">
									<span>Force</span>
									<div class="zoom">
										{{Icon iconName="search"}}
									</div>
								</a>
								<a href="%=static=%img/general/sert/5.png" class="sertificates__item swiper-slide" data-fancybox="gallery">
									<img src="%=static=%img/general/sert/5.png" alt="Сертификат">
									<span>Force</span>
									<div class="zoom">
										{{Icon iconName="search"}}
									</div>
								</a>
								<a href="%=static=%img/general/sert/6.png" class="sertificates__item swiper-slide" data-fancybox="gallery">
									<img src="%=static=%img/general/sert/6.png" alt="Сертификат">
									<span>Force</span>
									<div class="zoom">
										{{Icon iconName="search"}}
									</div>
								</a>
								<a href="%=static=%img/general/sert/7.png" class="sertificates__item swiper-slide" data-fancybox="gallery">
									<img src="%=static=%img/general/sert/7.png" alt="Сертификат">
									<span>Force</span>
									<div class="zoom">
										{{Icon iconName="search"}}
									</div>
								</a>
							</div>
						</div>
					</div>

					<div class="brandsPage__sort">
						<a href="#" class="sort-link active">Все</a>
						<a href="#" class="sort-link">A</a>
						<a href="#" class="sort-link">B</a>
						<a href="#" class="sort-link">C</a>
						<a href="#" class="sort-link">D</a>
						<a href="#" class="sort-link">E</a>
						<a href="#" class="sort-link">F</a>
						<a href="#" class="sort-link">G</a>
						<a href="#" class="sort-link">I</a>
						<a href="#" class="sort-link">J</a>
						<a href="#" class="sort-link">K</a>
						<a href="#" class="sort-link">L</a>
						<a href="#" class="sort-link">M</a>
						<a href="#" class="sort-link">N</a>
						<a href="#" class="sort-link">O</a>
						<a href="#" class="sort-link">P</a>
						<a href="#" class="sort-link">Q</a>
						<a href="#" class="sort-link">R</a>
						<a href="#" class="sort-link">S</a>
						<a href="#" class="sort-link">T</a>
						<a href="#" class="sort-link">U</a>
						<a href="#" class="sort-link">V</a>
						<a href="#" class="sort-link">W</a>
						<a href="#" class="sort-link">X</a>
						<a href="#" class="sort-link">Y</a>
						<a href="#" class="sort-link">Z</a>
						<a href="#" class="sort-link">А</a>
						<a href="#" class="sort-link">Б</a>
						<a href="#" class="sort-link">В</a>
					</div>

					<div class="brandsPage__items">
						<div class="brandsPage__item" data-letter="A">
							<div class="brandsPage__item-letter">
								A
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/1.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/2.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/3.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/4.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/5.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="B">
							<div class="brandsPage__item-letter">
								B
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/6.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/7.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/8.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/9.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="C">
							<div class="brandsPage__item-letter">
								C
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/10.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/11.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/12.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="D">
							<div class="brandsPage__item-letter">
								D
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/13.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/14.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/15.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/16.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/17.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="E">
							<div class="brandsPage__item-letter">
								E
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/1.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/2.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/3.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/4.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/5.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="F">
							<div class="brandsPage__item-letter">
								F
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/6.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/7.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/8.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/9.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="G">
							<div class="brandsPage__item-letter">
								G
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/10.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/11.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/12.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="I">
							<div class="brandsPage__item-letter">
								I
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/13.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/14.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/15.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/16.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="%=static=%img/general/elem/17.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="I">
							<div class="brandsPage__item-letter">
								I
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<a href="#">qweqweqw</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>