<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
		</div>
		
		<div class="catalog">
			<div class="wrapper">
				<div class="catalog__row">
					{{> filters/filters }}
					<div class="catalog__products">
						<div class="catalog__products-title">
							Каталог
						</div>
						<div class="catalog__products-items">
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/1.png" alt="Продукт">
									<span>Подъемники</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/2.png" alt="Продукт">
									<span>Шиномонтажное оборудование</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/3.png" alt="Продукт">
									<span>Компрессорное оборудование</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/4.png" alt="Продукт">
									<span>Оборудование для диагностики</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/5.png" alt="Продукт">
									<span>Сход-развальные стенды</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/6.png" alt="Продукт">
									<span>Складское и торговое оборуд</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/7.png" alt="Продукт">
									<span>Рихтовка и кузовные работы</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/8.png" alt="Продукт">
									<span>Инструмент</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/9.png" alt="Продукт">
									<span>Гаражное оборудование</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/10.png" alt="Продукт">
									<span>Генераторы</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/11.png" alt="Продукт">
									<span>Расходные материалы для вулканизации</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/12.png" alt="Продукт">
									<span>Колесный крепеж</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/13.png" alt="Продукт">
									<span>Преобразователи напряжения</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/14.png" alt="Продукт">
									<span>Стабилизаторы напряжения</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/15.png" alt="Продукт">
									<span>Электроинструмент</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/16.png" alt="Продукт">
									<span>Хомуты</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/17.png" alt="Продукт">
									<span>Тросы, стяжки груза</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/18.png" alt="Продукт">
									<span>Шланги</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/19.png" alt="Продукт">
									<span>Штуцеры, переходники, быстросъемы</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/20.png" alt="Продукт">
									<span>Лежаки, сидения</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/21.png" alt="Продукт">
									<span>Садовый инвентарь</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/22.png" alt="Продукт">
									<span>Сопутствующие товары</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/23.png" alt="Продукт">
									<span>Замена охлаждающей жидкости</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/24.png" alt="Продукт">
									<span>Пескоструйное оборудование</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/25.png" alt="Продукт">
									<span>Станки для проточки тормозных дисков</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/26.png" alt="Продукт">
									<span>Замена масла</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/27.png" alt="Продукт">
									<span>Автохимия</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/28.png" alt="Продукт">
									<span>Тумбы, ящики и сумки</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/catalog/29.png" alt="Продукт">
									<span>Униформа</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="new">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Рекомендации</h3>
					<a href="#">Все рекомендации</a>
				</div>
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>


										<div class="card__title">
											<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
										</div>

										<div class="card__price">
											4 200 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
										</div>

										<div class="card__price">
											41 400 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
										</div>

										<div class="card__price">
											55 000 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
										</div>

										<div class="card__price">
											50 900 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		{{> seo/seo }}

	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>