<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
		</div>
		
		<div class="catalog">
			<div class="wrapper">
				<div class="catalog__row">
					{{> filters/filters }}
					<div class="catalog__products">
						<div class="catalog__products-title">
							Категория
						</div>
						<div class="catalog__products-items">
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/1.png" alt="Продукт">
									<span>Траверсы</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/2.png" alt="Продукт">
									<span>Краны</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/3.png" alt="Продукт">
									<span>Прессы</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/4.png" alt="Продукт">
									<span>Стойки трансмиссионные</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/5.png" alt="Продукт">
									<span>Тали и лебедки</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/6.png" alt="Продукт">
									<span>Стенды клепальные</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/7.png" alt="Продукт">
									<span>Домкраты</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/8.png" alt="Продукт">
									<span>Насосы гидравлические</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/9.png" alt="Продукт">
									<span>Стяжки гидравлические</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/10.png" alt="Продукт">
									<span>Цилиндры гидравлические</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/11.png" alt="Продукт">
									<span>Ремкомплекты</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/12.png" alt="Продукт">
									<span>Вытяжка выхопных газов</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/13.png" alt="Продукт">
									<span>Насосы ручные</span>
								</a>
							</div>
							<div class="catalog__back">
								<div class="back-bg"></div>
								<a href="#" class="catalog__products-item">
									<img src="%=static=%img/general/category/14.png" alt="Продукт">
									<span>Ремонт карданных валов</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="new">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Рекомендации</h3>
					<a href="#">Все рекомендации</a>
				</div>
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>


										<div class="card__title">
											<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
										</div>

										<div class="card__price">
											4 200 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
										</div>

										<div class="card__price">
											41 400 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
										</div>

										<div class="card__price">
											55 000 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
										</div>

										<div class="card__price">
											50 900 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		{{> seo/seo }}

	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>