<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}

</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			<div class="contacts">
				<div class="contacts__title">
					<h3 class="title">Контакты</h3>
				</div>
				<div class="contacts__items">
					<div class="contacts__info">
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Адрес:
							</div>
							<div class="contacts__info-right">
								<span>
									Россия, Республика Дагестан, г. Хасавюрт, Махачкалинское шоссе, 206.
								</span>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								График работы офиса:
							</div>
							<div class="contacts__info-right">
								<span>
									Ежедневно с 7:00 до 20:00
								</span>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Приём заказов интернет-магазина:
							</div>
							<div class="contacts__info-right">
								<span>
									Круглосуточно
								</span>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Телефоны:
							</div>
							<div class="contacts__info-right">
								<a href="tel:88007755033">8 (800) 775-50-33</a>
								<a href="tel:84952552116">8 (495) 255-21-16</a>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Эл. почта:
							</div>
							<div class="contacts__info-right">
								<a href="mailto:automaster05@mail.ru">automaster05@mail.ru</a>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Соцсети:
							</div>
							<div class="contacts__info-right">
								<div class="contacts__info-social">
									<a href="#">
										{{Icon iconName="cont-vk"}}
									</a>
									<a href="#">
										{{Icon iconName="cont-face"}}
									</a>
									<a href="#">
										{{Icon iconName="cont-ws"}}
									</a>
									<a href="#">
										{{Icon iconName="cont-youtube"}}
									</a>
									<a href="#">
										{{Icon iconName="cont-insta"}}
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="map" id="map" data-lng="43.225722" data-lat="46.612388" data-zoom="17" data-icon-url="static/img/general/marker.svg">
						
					</div>
				</div>

			</div>

			<div class="panorama">
				<div class="panorama__title">
					<h4 class="title">Виртуальный тур</h4>
				</div>
				<div class="panorama-block" style="position:relative;overflow:hidden;">
					<a href="https://yandex.ru/maps/11011/khasavurt/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Хасавюрт</a>
					<a href="https://yandex.ru/maps/11011/khasavurt/house/makhachkalinskoye_shosse_206/YE8YcAZgQEYHQFppfX5zdXxrYQ==/?l=stv%2Csta&ll=46.612576%2C43.225284&panorama%5Bdirection%5D=191.132427%2C-2.194597&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=46.612320%2C43.225764&panorama%5Bspan%5D=120.000000%2C66.660883&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=18.6" style="color:#eee;font-size:12px;position:absolute;top:14px;">Махачкалинское шоссе, 206 — Яндекс.Карты
					</a>
					<iframe src="https://yandex.ru/map-widget/v1/-/CWfzZLL4" frameborder="1" allowfullscreen="true" style="position:relative;">
					</iframe>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}


	<script src="https://api-maps.yandex.ru/2.1/?apikey=53ea073c-1b8a-48e2-991c-76af7816aee7&lang=ru_RU" type="text/javascript">
	</script>

	{{> bottom/bottom }}
</body>

</html>