<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			
			<div class="delivery">
				<div class="delivery-wrapper content">
					<div class="delivery__title">
						<h3 class="title">Доставка</h3>
					</div>
					<div class="delivery__desc">
						<p>Вы можете оформить заказ на сайте www.automaster05.ru или через менеджера интернет-магазина по бесплатному контактному телефону <br> 8-800-77-55-0-33. После оформления заказа менеджер интернет-магазина свяжется с Вами для подтверждения заказа в день его оформления.</p>
						<p>Компания «Автомастер» осуществляет доставку по всей территории РФ.</p>
					</div>

					<div class="delivery__block">
						<h4>Самовывоз</h4>
						<div class="delivery__desc">
							<p>Удобный, бесплатный и быстрый способ получения заказа. Самовывоз возможен после согласования заказа.</p>
							<p>Адрес офиса: Россия, Дагестан, г. Хасавюрт, Махачкалинское шоссе, 206. (<a href="#">схема проезда</a>).</p> 
						</div>
					</div>

					<div class="delivery__block">
						<h4>Доставка транспортными компаниями по России</h4>
						<div class="delivery__desc">
							<p>Мы доставим заказанный Вами товар до терминала транспортной компании в Хасавюрте. Дальнейшая доставка будет осуществляться в сроки и согласно тарифному плану выбранного Вами перевозчика (СДЭК, ЖДЭ, EMS Почта России и т.д.)</p>
							<p>Мы работаем со следующими транспортными компаниями:</p> 
						</div>
					</div>
				</div>

				<div class="delivery-images">
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/1.png" alt="Доставка">
						</div>
						<p>СДЭК</p>
					</div>
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/2.png" alt="Доставка">
						</div>
						<p>ЖелДорЭкспедиция</p>
					</div>
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/3.png" alt="Доставка">
						</div>
						<p>Мега Транс</p>
					</div>
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/4.png" alt="Доставка">
						</div>
						<p>Boxberry</p>
					</div>
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/5.png" alt="Доставка">
						</div>
						<p>Почта России</p>
					</div>
				</div>

				<div class="delivery-info">
					<div class="delivery-top">
						<div class="delivery-top-title">
							<div class="title">Осуществляем бесплатную доставку по Дагестану и близлежащим республикам</div>
							<span>Ознакомьтесь с расписанием маршрутов ниже</span>
						</div>
						<img src="%=static=%img/general/gazel.png" alt="Доставка" class="gazel">
					</div>

					<div class="delivery-body">
						<div class="delivery__tabs">
							<ul class="delivery__list">
								<li class="delivery__list-item active">
									Дагестан
								</li>
								<li class="delivery__list-item">
									Чеченская Республика
								</li>
								<li class="delivery__list-item">
									Республика Ингушетия
								</li>
							</ul>

							<div class="delivery__tab active">
								<div class="delivery__tab-item">
									<div class="delivery__tab-left">
										Понедельник
									</div>
									<div class="delivery__tab-right">
										Махачкала
									</div>
								</div>
								<div class="delivery__tab-item">
									<div class="delivery__tab-left">
										Вторник
									</div>
									<div class="delivery__tab-right">
										Губден, Гурбуки, Избербаш, Карабудахкент, Каспийск, Манас
									</div>
								</div>
								<div class="delivery__tab-item">
									<div class="delivery__tab-left">
										Среда
									</div>
									<div class="delivery__tab-right">
										Бабаюрт, Кизляр, Кочубей, Тарумовка
									</div>
								</div>
								<div class="delivery__tab-item">
									<div class="delivery__tab-left">
										Четверг
									</div>
									<div class="delivery__tab-right">
										Викри, Герга, Даг-огни, Дербент, Каякент, Первомайское
									</div>
								</div>
								<div class="delivery__tab-item">
									<div class="delivery__tab-left">
										Пятница
									</div>
									<div class="delivery__tab-right not">
										Нет маршрутов
									</div>
								</div>
								<div class="delivery__tab-item">
									<div class="delivery__tab-left">
										Суббота
									</div>
									<div class="delivery__tab-right not">
										Нет маршрутов
									</div>
								</div>
								<div class="delivery__tab-item">
									<div class="delivery__tab-left">
										Воскресенье
									</div>
									<div class="delivery__tab-right">
										Акуша, Буйнакск, Гергебиль, Дженгутай, Казанище, Какамахи, Карамахи,
										Кизилюрт, Леваши, Наскент
									</div>
								</div>
							</div>

							<div class="delivery__tab"></div>
							<div class="delivery__tab"></div>

						</div>
					</div>
				</div>

			</div>

			<div class="payment">
				<div class="payment-wrapper content">
					<div class="payment__title">
						<h4 class="title">Оплата</h4>
					</div>
					<div class="payment__variants">
						<h4>Оплатить можно двумя способами:</h4>
						<div class="payment__variant">
							<h5>1. Безналичный расчёт</h5>
							<span class="payment__variant-text">Оплата производится путем банковского перевода на основании выставленного счета от нашей компании.</span>
						</div>
						<div class="payment__variant">
							<h5>2. Наличный расчёт</h5>
							<span class="payment__variant-text">Оплата производится наличными в нашем офисе, либо курьеру при получении товара.</span>
						</div>
					</div>

					<div class="payment__variants">
						<h4>Для получения счёта необходимо:</h4>
						<div class="payment__variants-text">
							Оформить заявку на оборудование через сайт, либо по телефону <br> 8-800-77-55-0-33, либо по почте automaster05@mail.ru и предоставить следующую информацию:
						</div>

						<div class="payment__variant">
							<h5>Для физических лиц:</h5>
							<ul>
								<li><span>ФИО полностью;</span></li>
								<li><span>Адрес доставки;</span></li>
								<li><span>Желаемая дата доставки;</span></li>
								<li><span>Контактный телефон и адрес электронной почты.</span></li>
							</ul>
						</div>


						<div class="payment__variant">
							<h5>Для юридических лиц:</h5>
							<ul>
								<li><span>Реквизиты организации;</span></li>
								<li><span>ФИО и должность лица, имеющего право подписи;</span></li>
								<li><span>Адрес доставки;</span></li>
								<li><span>Желаемая дата доставки;</span></li>
								<li><span>Контактный телефон и адрес электронной почты.</span></li>
							</ul>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>