<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="wrapper-mini">
				<div class="faq">
					<div class="faq__title">
						<h4 class="title">Часто задаваемые вопросы</h4>
					</div>
					<div class="faq__items">
						<div class="faq__item">
							<div class="faq__head">
								<span>Поиск товара</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Возможность отложить товар для дальнейшего выбора</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Уточнение дополнительной информации по товару</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Не приходит код подтверждения</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Восстановление пароля</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Как оформить заказ на сайте</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Как зарегистрироваться</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>