<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<main class="main">
			<div class="wrapper">
				<div class="main__slider">
					{{> main/main }}
					<div class="main-pagination"></div>
				</div>
			</div>
		</main>

		<div class="liders">
			<div class="wrapper">
				<div class="liders__title">
					<h3 class="title">Лидеры продаж</h3>
				</div>
				<div class="cards">
					<div class="card">
						<div class="card-wrap">
							<div class="card__fav">
								{{Icon iconName="heart-plus"}}
							</div>
							<div class="card__img">
								<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
							</div>
							<div class="card__body">
								<div class="card__presence card__green">
									{{Icon iconName="check"}}
									<span>В наличии</span>
								</div>
								<!-- <div class="card__presence card__red">
									{{Icon iconName="no"}}
									<span>Нет в наличии</span>
								</div> -->

								<div class="card__title">
									<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
								</div>

								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__quantity">
									{{> card/card-value }}
									<div class="card__add">
										<div class="addtocart">
											{{Icon iconName="cart"}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-wrap">
							<div class="card__fav">
								{{Icon iconName="heart-plus"}}
							</div>
							<div class="card__img">
								<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
							</div>
							<div class="card__body">
								<div class="card__presence card__green">
									{{Icon iconName="check"}}
									<span>В наличии</span>
								</div>
								<!-- <div class="card__presence card__red">
									{{Icon iconName="no"}}
									<span>Нет в наличии</span>
								</div> -->

								<div class="card__title">
									<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
								</div>

								<div class="card__price">
									41 400 ₽
								</div>

								<div class="card__quantity">
									{{> card/card-value }}
									<div class="card__add">
										<div class="addtocart">
											{{Icon iconName="cart"}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								4 200 ₽
								<span class="old__price">1600 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
							</div>

							<div class="card__price">
								55 000 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
							</div>

							<div class="card__price">
								50 900 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/6.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Пистолет-подкачка YATO шланг 440 мм 12 bar</a>
							</div>

							<div class="card__price">
								750 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/7.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								26 000 ₽
								<span class="old__price">32 000 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/8.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Мешок-наполнитель для вулканизатора ТП-19/B</a>
							</div>

							<div class="card__price">
								300 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/9.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								15 000 ₽
								<span class="old__price">20 000 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
							</div>

							<div class="card__price">
								41 400 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="popularCats">
			<div class="wrapper">
				<div class="popularCats__title">
					<h3 class="title">Популярные категории</h3>
				</div>
				<div class="popularCats__items">
					<div class="popularCats__item">
						<div class="popularCats__name">
							Подъемники
						</div>
						<div class="popularCats__links">
							<a href="#" class="popularCats-link">Двухстоечные</a>
							<a href="#" class="popularCats-link">Четырехстоечные</a>
							<a href="#" class="popularCats-link">Пневматические</a>
							<a href="#" class="popularCats-link">Ножничные</a>
							<a href="#" class="popularCats-link">Траверсы</a>
							<a href="#" class="popularCats-link">Подушки для подъемников</a>
							<a href="#" class="popularCats-link">Запасные части</a>
						</div>
					</div>
					<div class="popularCats__item">
						<div class="popularCats__name">
							Гаражное оборудование
						</div>
						<div class="popularCats__links">
							<a href="#" class="popularCats-link">Траверсы</a>
							<a href="#" class="popularCats-link">Краны</a>
							<a href="#" class="popularCats-link">Прессы</a>
							<a href="#" class="popularCats-link">Стойки трансмиссионные</a>
							<a href="#" class="popularCats-link">Тали и лебедки</a>
							<a href="#" class="popularCats-link">Стенды клепальные</a>
							<a href="#" class="popularCats-link">Домкраты</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
						</div>
					</div>
					<div class="popularCats__item">
						<div class="popularCats__name">
							Тумбы, ящики и сумки
						</div>
						<div class="popularCats__links">
							<a href="#" class="popularCats-link">Верстаки</a>
							<a href="#" class="popularCats-link">Шкафы для инструмента</a>
							<a href="#" class="popularCats-link">Сумки для инструмента</a>
							<a href="#" class="popularCats-link">Тележки инструментальные</a>
							<a href="#" class="popularCats-link">Тумбы для инструмента</a>
							<a href="#" class="popularCats-link">Ящики для инструмента</a>
							<a href="#" class="popularCats-link">Запасные части</a>
						</div>
					</div>
					<div class="popularCats__item">
						<div class="popularCats__name">
							Сварочное и зарядное оборудование
						</div>
						<div class="popularCats__links">
							<a href="#" class="popularCats-link">Сварочные полуавтоматы</a>
							<a href="#" class="popularCats-link">Сварки трансформаторые</a>
							<a href="#" class="popularCats-link">Сварки инверторные</a>
							<a href="#" class="popularCats-link">Сварки контактные</a>
							<a href="#" class="popularCats-link">Блоки жидкостного охлаждения</a>
							<a href="#" class="popularCats-link">Плазменные резаки</a>
							<a href="#" class="popularCats-link">Сварочные редукторы</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="new">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Новинки</h3>
					<a href="#">Все новинки</a>
				</div>
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/1.png" data-src="%=static=%img/general/card/1.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
										</div>

										<div class="card__price">
											4 200 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/2.png" data-src="%=static=%img/general/card/2.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
										</div>

										<div class="card__price">
											41 400 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/3.png" data-src="%=static=%img/general/card/3.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/4.png" data-src="%=static=%img/general/card/4.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
										</div>

										<div class="card__price">
											55 000 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/5.png" data-src="%=static=%img/general/card/5.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
										</div>

										<div class="card__price">
											50 900 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- <div class="slider-btn new-btn-prev">
						{{Icon iconName="arrow"}}
					</div> -->
					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		<div class="action">
			<div class="wrapper">
				<div class="action__title">
					<h3 class="title">Акции</h3>
					<a href="#">Все акции</a>
				</div>

				<div class="action__items">
					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/1.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							В провинции никого не пугает шопот бессменных лидеров
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>
					<a href="#" class="action__item">
						<div class="action__img">
							<img src="%=static=%img/general/action/2.png" alt="Акции">
						</div>
						<h4 class="action__name">
							Нашу победу сопровождал старческий скрип Амстердама
						</h4>
						<div class="action__desc">
							Как уже неоднократно упомянуто, явные признаки победы институционализации представлены в исключительно положительном свете.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="news">
			<div class="wrapper">
				<div class="news__title">
					<h3 class="title">Наши новости</h3>
					<a href="#">Все новости</a>
				</div>

				<div class="news__slider">
					<div class="swiper-container news-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="%=static=%img/general/news/1.png" data-src="%=static=%img/general/news/1.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											У нас появился новый  официальный канал на YouTube
										</a>
										<div class="news__item-desc">
											Приятно, граждане, наблюдать, как стремящиеся вытеснить традиционное производство, нанотехнологии...
										</div>
										<div class="news__item-date">
											12 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="%=static=%img/general/news/2.png" data-src="%=static=%img/general/news/2.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											У нас появился новый  официальный канал на YouTube
										</a>
										<div class="news__item-desc">
											Приятно, граждане, наблюдать, как стремящиеся вытеснить традиционное производство, нанотехнологии...
										</div>
										<div class="news__item-date">
											12 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="%=static=%img/general/news/3.png" data-src="%=static=%img/general/news/3.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											У нас появился новый  официальный канал на YouTube
										</a>
										<div class="news__item-desc">
											Приятно, граждане, наблюдать, как стремящиеся вытеснить традиционное производство, нанотехнологии...
										</div>
										<div class="news__item-date">
											12 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="%=static=%img/general/news/4.png" data-src="%=static=%img/general/news/4.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											У нас появился новый  официальный канал на YouTube
										</a>
										<div class="news__item-desc">
											Приятно, граждане, наблюдать, как стремящиеся вытеснить традиционное производство, нанотехнологии...
										</div>
										<div class="news__item-date">
											12 марта 2020
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-btn news-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		<div class="partners">
			<div class="wrapper">
				<div class="partners__title">
					<h3 class="title">Партнеры</h3>
				</div>
				<div class="partners__slider">
					<div class="swiper-container partners-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="%=static=%img/general/partners/1.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/partners/2.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/partners/3.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/partners/4.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/partners/5.png" alt="Партнеры">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{> seo/seo }}

	</div>

	{{>footer/footer}}
	
	{{> bottom/bottom }}
</body>

</html>