<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="lk">
				<div class="lk__title">
					<h3 class="title">Личный кабинет</h3>
				</div>
				<div class="lk__items">
					<ul class="lk__list">
						<li class="lk__list-item">
							<a href="#" class="lk__list-link active">
								История заказов
							</a>
						</li>
						<li class="lk__list-item">
							<a href="#" class="lk__list-link">
								Личные данные
							</a>
						</li>
						<li class="lk__list-item">
							<a href="#" class="lk__list-link">
								Избранное
							</a>
						</li>
					</ul>

					<div class="lk__points">
						<h4>1900 Баллов</h4>
						<a href="#">Подробнее о бальной системе</a>
					</div>
				</div>

				<div class="lk__tab active"> <!-- Таб история заказов -->
					<div class="lk__filter">
						<div class="lk__select">
							<span class="filter-span">Фильтр по дате:</span>
							<select name="" class="custom-select">
								<option value="0" selected disabled>Не выбрано</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>	
							</select>
						</div>
						<div class="lk__sort">
							<span class="filter-span">Сортировать по:</span>
							<a href="#" class="lk__sort-link active">
								Сначала новые
							</a>
							<a href="#" class="lk__sort-link">
								Сначала старые
							</a>
						</div>
					</div>
					
					<div class="history__items">
						<div class="history__item">
							<div class="history__head">
								<div class="history__info">
									<h4>Заказ № 21342</h4>
									<div class="date">12 марта 2020</div>
								</div>
								<div class="history__total">
									50 900 ₽
								</div>
							</div>
							<div class="history__body">
								<div class="history__elem">
									<img src="%=static=%img/general/lk/1.png" alt="Товар">

									<div class="history__elem-row">
										<div class="history__elem-info">
											<a href="#" class="elem-link">Подъемник 2 стоечный 4 т электрогидр. ONLY ENERGY T4K 380V с винтовыми опорами</a>
											<div class="history__elem-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="history__elem-value">
											<div class="param">
												<span>Количество:</span>
												<p>1 шт.</p>
											</div>
										</div>
										<div class="history__elem-price">
											32 000 ₽
										</div>
									</div>

								</div>
								<div class="history__elem">
									<img src="%=static=%img/general/lk/2.png" alt="Товар">

									<div class="history__elem-row">
										<div class="history__elem-info">
											<a href="#" class="elem-link">Подъемник 2 стоечный 4 т электрогидр. ONLY ENERGY T4K 380V с винтовыми опорами</a>
											<div class="history__elem-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="history__elem-value">
											<div class="param">
												<span>Количество:</span>
												<p>1 шт.</p>
											</div>
										</div>
										<div class="history__elem-price">
											32 000 ₽
										</div>
									</div>

								</div>
								<div class="history__elem">
									<img src="%=static=%img/general/lk/3.png" alt="Товар">

									<div class="history__elem-row">
										<div class="history__elem-info">
											<a href="#" class="elem-link">Подъемник 2 стоечный 4 т электрогидр. ONLY ENERGY T4K 380V с винтовыми опорами</a>
											<div class="history__elem-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="history__elem-value">
											<div class="param">
												<span>Количество:</span>
												<p>1 шт.</p>
											</div>
										</div>
										<div class="history__elem-price">
											32 000 ₽
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="history__item">
							<div class="history__head">
								<div class="history__info">
									<h4>Заказ № 21342</h4>
									<div class="date">12 марта 2020</div>
								</div>
								<div class="history__total">
									50 900 ₽
								</div>
							</div>
							<div class="history__body">
								<div class="history__elem">
									<img src="%=static=%img/general/lk/1.png" alt="Товар">

									<div class="history__elem-row">
										<div class="history__elem-info">
											<a href="#" class="elem-link">Подъемник 2 стоечный 4 т электрогидр. ONLY ENERGY T4K 380V с винтовыми опорами</a>
											<div class="history__elem-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="history__elem-value">
											<div class="param">
												<span>Количество:</span>
												<p>1 шт.</p>
											</div>
										</div>
										<div class="history__elem-price">
											32 000 ₽
										</div>
									</div>

								</div>
								<div class="history__elem">
									<img src="%=static=%img/general/lk/2.png" alt="Товар">

									<div class="history__elem-row">
										<div class="history__elem-info">
											<a href="#" class="elem-link">Подъемник 2 стоечный 4 т электрогидр. ONLY ENERGY T4K 380V с винтовыми опорами</a>
											<div class="history__elem-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="history__elem-value">
											<div class="param">
												<span>Количество:</span>
												<p>1 шт.</p>
											</div>
										</div>
										<div class="history__elem-price">
											32 000 ₽
										</div>
									</div>

								</div>
								<div class="history__elem">
									<img src="%=static=%img/general/lk/3.png" alt="Товар">

									<div class="history__elem-row">
										<div class="history__elem-info">
											<a href="#" class="elem-link">Подъемник 2 стоечный 4 т электрогидр. ONLY ENERGY T4K 380V с винтовыми опорами</a>
											<div class="history__elem-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="history__elem-value">
											<div class="param">
												<span>Количество:</span>
												<p>1 шт.</p>
											</div>
										</div>
										<div class="history__elem-price">
											32 000 ₽
										</div>
									</div>

								</div>
							</div>
						</div>

						{{> pag/pag }}
					</div>
				</div>

				<div class="lk__tab"> <!-- Таб личные данные -->
					<div class="lk__form">
						<form action="">
							<div class="lk__form-row">
								<div class="lk__form-col lk__form-col1">
									<label class="lk__form-label">
										<span>Фамилия:</span>
										<input type="text" class="lk__form-input">
									</label>
									<label class="lk__form-label">
										<span>Имя:</span>
										<input type="text" class="lk__form-input">
									</label>
									<label class="lk__form-label">
										<span>Отчество:</span>
										<input type="text" class="lk__form-input">
									</label>
								</div>
								<div class="lk__form-col lk__form-col2">
									<label class="lk__form-label">
										<span>Номер телефона:</span>
										<input type="text" class="lk__form-input">
									</label>
									<label class="lk__form-label">
										<span>Электронная почта:</span>
										<input type="text" class="lk__form-input">
									</label>
									<label class="lk__form-label">
										<span>Пароль:</span>
										<span class="change-pass" data-popup-open="popup__drop">
											Сменить пароль
										</span>
									</label>
								</div>
							</div>

							<div class="lk__form-address">
								<div class="lk__form-title">
									Адрес доставки
								</div>
								<div class="lk__form-row">
									<div class="lk__form-col lk__form-col1">
										<label class="lk__form-label">
											<span>Регион:</span>
											<input type="text" class="lk__form-input">
										</label>
										<label class="lk__form-label">
											<span>Улица:</span>
											<input type="text" class="lk__form-input">
										</label>
									</div>
									<div class="lk__form-col lk__form-col2">
										<label class="lk__form-label">
											<span>Город:</span>
											<input type="text" class="lk__form-input">
										</label>
										<label class="lk__form-label">
											<span>Дом:</span>
											<input type="text" class="lk__form-input">
										</label>
									</div>
								</div>
							</div>

							<div class="lk__form-btns">
								<button class="save">
									Сохранить
								</button>
								<a href="#" class="cancel">Отменить изменения</a>
							</div>
						</form>
					</div>
				</div>

				<div class="lk__tab "> <!-- Таб избранное -->
					<div class="lk__tab-cards">
						<div class="cards">
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav card__fav-remove">
									{{Icon iconName="heart-delete"}}
								</div>
								<div class="card__img">
									<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										{{Icon iconName="check"}}
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
									</div>

									<div class="card__price">
										41 400 ₽
									</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>