<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
		</div>

		<div class="newsPage">
			<div class="wrapper">
				<div class="newsPage__title">
					<h3 class="title">Новости</h3>
				</div>

				<div class="newsPage__row">
					<div class="newsPage__left">
						<div class="newsPage__items">
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
							{{> news/news }}
						</div>

						{{> pag/pag }}
					</div>
					<div class="newsPage__right">
						<div class="subscribe">
							<h4>Подпишитесь на рассылку</h4>
							<form action="" class="subscribe-form form">
								<input type="text" name="mail" class="subscribe-input" placeholder="Эл. почта">
								<button class="subscribe-btn red-btn">Подписаться</button>
							</form>
						</div>

						<div class="similar">
							<h4>Популярные новости</h4>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Прототип нового сервиса - это как глас грядущего поколения
								</a>
								<div class="date">
									12 марта 2020
								</div>
							</div>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Политика не может не реагировать на грохот грома градущих изменений
								</a>
								<div class="date">
									8 марта 2020
								</div>
							</div>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Франция намерена исследовать, почему частокол на границе починят
								</a>
								<div class="date">
									2 марта 2020
								</div>
							</div>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Допустим, был сорван доклад председателя совхоза
								</a>
								<div class="date">
									1 марта 2020
								</div>
							</div>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Инцидент не исчерпан: в провинциях ещё есть чем поживиться
								</a>
								<div class="date">
									29 февраля 2020
								</div>
							</div>

						</div>
					</div>
				</div>

				{{> seo/seo }}


			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>