<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			
			<div class="order">
				<div class="order__title">
					<h3 class="title">Оформление заказа</h3>
				</div>

				<div class="order__items">
					<div class="order__left">
						<div class="order__join">
							<div class="order__join-title">
								Если уже зарегистрирован аккаунт, выполните вход.
							</div>
							<div class="order__join-btn" data-popup-open="popup__join">
								{{Icon iconName="login"}}
								Войти в аккаунт
							</div>
						</div>

						<div class="order__without">
							<h4 class="order__without-title">Оформить без регистрации</h4>

							<div class="order__form">
								<form action="" id="order">
									<div class="order__form-title">
										Личные данные
									</div>
									<div class="order__form-items">
										<label class="label">
											<span class="label-name">
												Ф.И.О
												<span class="required">*</span>
											</span>
											<input type="text" name="name" class="order-input">
										</label>
										<label class="label">
											<span class="label-name">
												Электронная почта
											</span>
											<input type="text" name="mail" class="order-input">
										</label>
										<label class="label">
											<span class="label-name">
												Номер телефона
												<span class="required">*</span>
											</span>
											<input type="text" name="phone" class="order-input phone-mask">
										</label>
									</div>
									<div class="order__form-title pt-24">
										Адрес
									</div>
									<div class="order__form-items">
										<label class="label">
											<span class="label-name">
												Регион
												<span class="required">*</span>
											</span>
											
											<input type="text" id="region" name="region" class="order-input">
											<!-- <div class="complete">
												<span id="complete"></span>
											</div> -->
										</label>
										<label class="label">
											<span class="label-name">
												Город
												<span class="required">*</span>
											</span>
											<input type="text" name="city" class="order-input">
										</label>
										<label class="label">
											<span class="label-name">
												Улица
												<span class="required">*</span>
											</span>
											<input type="text" name="street" class="order-input">
										</label>
										<label class="label">
											<span class="label-name">
												Номер дома
												<span class="required">*</span>
											</span>
											<input type="text" name="home" class="order-input">
										</label>
									</div>
									<div class="order__form-title pt-24">
										Выберите способ доставки
									</div>
									<div class="order__form-check">
										<label class="check-label">
											<input type="radio" name="delivery" class="check-input">
											<span class="check-block">
												<span class="check-image">
													<img src="%=static=%img/general/order/1.png" alt="Самовывоз">
												</span>
												<span class="check-text">Самовывоз</span>
											</span>
										</label>
										<label class="check-label">
											<input type="radio" name="delivery" class="check-input">
											<span class="check-block">
												<span class="check-image">
													<img src="%=static=%img/general/order/2.png" alt="Почта России">
												</span>
												<span class="check-text">Почта России</span>
											</span>
										</label>
										<label class="check-label">
											<input type="radio" name="delivery" class="check-input">
											<span class="check-block">
												<span class="check-image">
													<img src="%=static=%img/general/order/3.png" alt="Cdek">
												</span>
												<span class="check-text">Cdek</span>
											</span>
										</label>
										<label class="check-label">
											<input type="radio" name="delivery" class="check-input">
											<span class="check-block">
												<span class="check-image">
													<img src="%=static=%img/general/order/4.png" alt="Boxberry">
												</span>
												<span class="check-text">Boxberry</span>
											</span>
										</label>
										<label class="check-label">
											<input type="radio" name="delivery" class="check-input">
											<span class="check-block">
												<span class="check-image">
													<img src="%=static=%img/general/order/4.png" alt="Boxberry">
												</span>
												<span class="check-text">Boxberry</span>
											</span>
										</label>
									</div>
									<div class="order__form-title pt-48">
										Выберите способ оплаты
									</div>
									<div class="order__form-check">
										<label class="check-label">
											<input type="radio" name="payment" class="check-input">
											<span class="check-block">
												<span class="check-image">
													<img src="%=static=%img/general/order/5.png" alt="Олата оналйн">
												</span>
												<span class="check-text">Олата оналйн</span>
											</span>
										</label>
										<label class="check-label">
											<input type="radio" name="payment" class="check-input">
											<span class="check-block">
												<span class="check-image">
													<img src="%=static=%img/general/order/6.png" alt="При получении">
												</span>
												<span class="check-text">При получении</span>
											</span>
										</label>
										<label class="check-label">
											<input type="radio" name="payment" class="check-input">
											<span class="check-block check-block2">
												<span class="check-image">
													<img src="%=static=%img/general/order/7.png" alt="Перевод на карту Сбербанк">
												</span>
												<span class="check-text">Перевод на карту Сбербанк</span>
											</span>
										</label>
									</div>

									<div class="order__form-bonus">
										<span>Бонусные баллы</span>
										<input type="text" class="order-input" placeholder="Сколько баллов потратить?">
									</div>
									<div class="order__form-confirm">
										<label>
											<input type="checkbox">
											<span class="custom">
												{{Icon iconName="checked"}}
											</span>
											<span class="text">Я согласен получать информацию о скидках и специальных предложениях на указанный мной e-mail и телефон.</span>
										</label>
									</div>
									<div class="cart__attr-btn">
										<button class="order-btn">Оформить заказ</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="order__right">
						<div class="order__right-head">
							<span>Ваш заказ</span>
						</div>
						<div class="order__right-item">
							<div class="order__right-image">
								<img src="%=static=%img/general/lk/1.png" alt="">
							</div>
							<div class="order__right-info">
								<a href="#" class="item-link">
									Подъемник 2 стоечный 4 т электрогидр. ONLY ENERGY T4K 380V с винтовыми опорами
								</a>
								<div class="item-price">
									26 000 ₽
								</div>
							</div>
						</div>
						<div class="order__right-item">
							<div class="order__right-image">
								<img src="%=static=%img/general/lk/4.png" alt="">
							</div>
							<div class="order__right-info">
								<a href="#" class="item-link">
									Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A
								</a>
								<div class="item-price">
									25 000 ₽
								</div>
							</div>
						</div>
						<div class="order__right-item">
							<div class="order__right-image">
								<img src="%=static=%img/general/lk/5.png" alt="">
							</div>
							<div class="order__right-info">
								<a href="#" class="item-link">
									Пистолет-подкачка YATO шланг 440 мм 12 bar
								</a>
								<div class="item-price">
									750 ₽
								</div>
							</div>
						</div>

						<div class="order__right-result">
							<span>Итого:</span>
							<p class="order__result">51 750 ₽‬</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>