<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="wrapper-mini">
				<div class="proektirovanie">
					<div class="proektirovanie__title">
						<h3 class="title">Проектирование</h3>
					</div>
					<div class="proektirovanie__desc">
						Разрабатываем проекты автосервисов и автомоек. Для эффективной работы автосервиса необходимо уже на стадии планирования заложить основы его эффективной и прибыльной работы, определив перечень необходимого оборудования для бизнеса и осуществив его эффективное размещение в цехах. Специалисты компании «Автомастер», четко осознавая сложность и масштабность задач, решаемых в процессе организации автосервиса, при разработке его проекта опираются на свой опыт и современные тенденции, помогая нашим партнерам найти «золотую середину» между его стоимостью и функциональностью. И в итоге вы получаете перечень действительно необходимого оборудования, детальный план автосервиса, которые станут для вас немаловажными аргументами при поиске и убеждении инвесторов, а также будут полезными ориентирами на этапах разработки бизнес-плана и организации работы участка 
					</div>

					<div class="proektirovanie-our">
						Наши проекты
					</div>
					<div class="proektirovanie__items">
						<a href="#" class="proektirovanie__item">
							<img src="%=static=%img/general/project1.png" alt="Проектирование">
							<span>Автосервисы</span>
						</a>
						<a href="#" class="proektirovanie__item">
							<img src="%=static=%img/general/project2.png" alt="Проектирование">
							<span>Автомойки</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>