<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="wrapper-mini">
				<div class="project">
					<div class="project__title">
						<h4 class="title">Автосервис «Shell Helix»</h4>
					</div>

					<div class="project__desc">
						Элементы политического процесса, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут в равной степени предоставлены сами себе. Банальные, но неопровержимые выводы, а также тщательные исследования конкурентов подвергнуты целой серии независимых исследований.
					</div>

					<div class="swiper-container project-top">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/3.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/4.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/5.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/6.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/7.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/8.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/9.png" alt="Проекты">
							</div>
						</div>
					</div>
					<div class="swiper-container project-thumbs">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/3.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/4.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/5.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/6.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/7.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/8.png" alt="Проекты">
							</div>
							<div class="swiper-slide">
								<img src="%=static=%img/general/autoservices/9.png" alt="Проекты">
							</div>
						</div>
					</div>

					<div class="project__desc project__desc2">
						<p>Есть над чем задуматься: интерактивные прототипы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут представлены в исключительно положительном свете.</p>
						<p>Задача организации, в особенности же начало повседневной работы по формированию позиции выявляет срочную потребность системы обучения кадров, соответствующей насущным потребностям. В целом, конечно, убеждённость некоторых оппонентов представляет собой интересный эксперимент проверки направлений прогрессивного развития.</p>
					</div>

					<div class="about__text-list">
						<span class="about__text-name">
							Проект включил в себя:
						</span>

						<ul class="about__list">
							<li class="about__list-item">
								<span>Зоны технического обслуживания (Rotary, APAC, Kraftmann)</span>
							</li>
							<li class="about__list-item">
								<span>Участок РУУК (OMER, Hofmann)</span>
							</li>
							<li class="about__list-item">
								<span>Участок по обслуживанию колес (Beissbarth, Hunter, Kart)</span>
							</li>
							<li class="about__list-item">
								<span>Зоны агрегатного ремонта и мойки деталей</span>
							</li>
							<li class="about__list-item">
								<span>Инструмент Stahlwille, Rodcraft</span>
							</li>
						</ul>
					</div>

					<div class="project__links">
						<a href="#" class="back">
							{{Icon iconName="bread-arr"}}
							К списку проектов
						</a>

						<div class="share">
							<span>Поделиться:</span>
							<div class="social">
								{{Icon iconName="cont-vk"}}
								{{Icon iconName="cont-face"}}
								{{Icon iconName="cont-twitter"}}
								{{Icon iconName="cont-ok"}}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>