
<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
		</div>
		
		<div class="subcategory sub">
			<div class="wrapper">
				<div class="subcategory__title">
					<h3 class="title">Траверсы</h3>
				</div>

				<div class="subcategory__filters">
					<div class="subcategory__filters-catalog">
						<select name="" id="" class="custom-select">
							<option value="1">Каталог</option>
							<option value="2">Каталог</option>
							<option value="3">Каталог</option>
							<option value="4">Каталог</option>
							<option value="5">Каталог</option>
							<option value="6">Каталог</option>
						</select>
					</div>
					<div class="subcategory__filters-brand">
						<span class="filter-span">Бренд:</span>
						<select name="" id="" class="custom-select">
							<option value="1">Все бренды</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
						</select>
					</div>

					<div class="subcategory__filters-sort">
						<span class="filter-span">Сортировать по цене:</span>
						<a href="#" class="sorted-link active">Цена</a>
						<a href="#" class="sorted-link">В наличии</a>
						<a href="#" class="sorted-link">Популярное</a>
					</div>
				</div>

				<div class="cards">

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
							</div>

							<div class="card__price">
								4 200 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
							</div>

							<div class="card__price">
								41 400 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								4 200 ₽
								<span class="old__price">1600 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
							</div>

							<div class="card__price">
								55 000 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
							</div>

							<div class="card__price">
								50 900 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/6.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Пистолет-подкачка YATO шланг 440 мм 12 bar</a>
							</div>

							<div class="card__price">
								750 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/7.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								26 000 ₽
								<span class="old__price">32 000 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/8.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Мешок-наполнитель для вулканизатора ТП-19/B</a>
							</div>

							<div class="card__price">
								300 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/9.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								15 000 ₽
								<span class="old__price">20 000 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
							</div>

							<div class="card__price">
								41 400 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
							</div>

							<div class="card__price">
								4 200 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
							</div>

							<div class="card__price">
								41 400 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								4 200 ₽
								<span class="old__price">1600 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
							</div>

							<div class="card__price">
								55 000 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
							</div>

							<div class="card__price">
								50 900 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/6.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Пистолет-подкачка YATO шланг 440 мм 12 bar</a>
							</div>

							<div class="card__price">
								750 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/7.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								26 000 ₽
								<span class="old__price">32 000 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/8.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Мешок-наполнитель для вулканизатора ТП-19/B</a>
							</div>

							<div class="card__price">
								300 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/9.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								15 000 ₽
								<span class="old__price">20 000 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
							</div>

							<div class="card__price">
								41 400 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
							</div>

							<div class="card__price">
								4 200 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
							</div>

							<div class="card__price">
								41 400 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
							</div>

							<div class="card__price has__sale">
								4 200 ₽
								<span class="old__price">1600 ₽</span>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
							</div>

							<div class="card__price">
								55 000 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
						<div class="card__img">
							<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								{{Icon iconName="check"}}
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
							</div>

							<div class="card__price">
								50 900 ₽
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				{{> pag/pag }}

			</div>
		</div>

		<div class="new">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Рекомендации</h3>
				</div>
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>


										<div class="card__title">
											<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
										</div>

										<div class="card__price">
											4 200 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
										</div>

										<div class="card__price">
											41 400 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
										</div>

										<div class="card__price">
											55 000 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
										</div>

										<div class="card__price">
											50 900 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		{{> seo/seo }}

	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>