<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
		</div>

		<div class="tovar">
			<div class="tovar__head">
				<div class="tovar__left">
					<img src="%=static=%img/general/tovar/1.png" alt="Товар" class="left-item active">
					<img src="%=static=%img/general/tovar/2.png" alt="Товар" class="left-item">
					<div class="left-item tovar-video" data-src="https://www.youtube.com/embed/l5i1mayIUJY">
						{{Icon iconName="play"}}
					</div>
				</div>
				<div class="tovar__center">
					<img src="%=static=%img/general/tovar/1.png" alt="Товар" id="img-item">
					<iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="video-item"></iframe>
				</div>
				<div class="tovar__right">
					<div class="tovar__title">
						<h4 class="title">
							Стенд балансировочный СИВИК START (Красный)
						</h4>
					</div>
					<div class="tovar__presence">
						<div class="card__presence card__orange">
							{{Icon iconName="orange"}}
							<span>Уточняйте наличие</span>
						</div>
						<div class="tovar__values">
							<span class="tovar-span">Артикул:</span>
							<p class="tovar-p">QJY230C-E</p>
						</div>
						<div class="tovar__values">
							<span class="tovar-span">Код:</span>
							<p class="tovar-p">03943</p>
						</div>
					</div>
					<div class="tovar__price">
						<div class="tovar__sum">50 900 ₽</div>
						<div class="tovar__point">
							<span>+ 90 баллов</span>
							<div class="tovar__point-info">
								{{Icon iconName="info"}}
								<div class="tovar__point-tooltip">
									<div class="tooltip-pol">
										{{Icon iconName="tooltip-pol"}}
									</div>
									Текст рассказывающий о том – что такое баллы, и чем это полезно.
								</div>
							</div>
						</div>
					</div>

					<div class="tovar__quantity">
						<div class="card__value">
							<button class="card-btn minus">
								{{Icon iconName="minus"}}
							</button>
							<input type="text" value="1" class="value number">
							<button class="card-btn plus">
								{{Icon iconName="plus"}}
							</button>
						</div>
						<a href="#" class="tovar__questions">Есть вопрос по товару?</a>
					</div>

					<div class="tovar__btns">
						<button class="oneclick" data-popup-open="popup__has">Уточнить наличие товара</button>
						<button class="addtofav">
							{{Icon iconName="heart-plus"}}
						</button>
					</div>

					<div class="tovar__brand">
						<a href="#">
							<img src="%=static=%img/general/brand/1.png" alt="Бренд">
							<span>Все товары бренда</span>
						</a>
					</div>

				</div>
			</div>

			{{> tovar/tovar-tab }}
		</div>
		
		<div class="tovar-similar">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Похожие товары</h3>
				</div>
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>


										<div class="card__title">
											<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
										</div>

										<div class="card__price">
											4 200 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
										</div>

										<div class="card__price">
											41 400 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
										</div>

										<div class="card__price">
											55 000 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
										</div>

										<div class="card__price">
											50 900 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- <div class="slider-btn new-btn-prev">
						{{Icon iconName="arrow"}}
					</div> -->
					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		<div class="tovar-recently">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Вы недавно смотрели</h3>
				</div>
				<div class="new__slider">
					<div class="swiper-container last-container">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/1.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>


										<div class="card__title">
											<a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
										</div>

										<div class="card__price">
											4 200 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/2.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 380V Foxweld ВД-306И</a>
										</div>

										<div class="card__price">
											41 400 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/3.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор MMA 220V GYS Gysmi 131 DC 10-130A</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/4.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Сварочный инвертор TIG 220V FOXWELD TIG 251 AC/DC</a>
										</div>

										<div class="card__price">
											55 000 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
									<div class="card__img">
										<img src="%=static=%img/general/card/5.png" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											{{Icon iconName="check"}}
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Стенд балансировочный СИВИК START (Красный)</a>
										</div>

										<div class="card__price">
											50 900 ₽
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- <div class="slider-btn new-btn-prev">
						{{Icon iconName="arrow"}}
					</div> -->
					<div class="slider-btn last-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>