<footer class="footer">
	<div class="wrapper">
		<div class="footer__top">
			<div class="footer__nav">
				<div class="footer-col">
					<a href="#" class="footer-link">Каталог</a>
					<a href="#" class="footer-link">Доставка и оплата</a>
					<a href="#" class="footer-link">О компании</a>
					<a href="#" class="footer-link">Контакты</a>
					<a href="#" class="footer-link">Бренды</a>
					<a href="#" class="footer-link">Новинки</a>
					<a href="#" class="footer-link">Акции</a>
					<a href="#" class="footer-link">FAQ</a>
					<a href="#" class="footer-link">Новости</a>
					<a href="#" class="footer-link">Политика конфиденциальности</a>
				</div>
			</div>

			<div class="footer__social">
				<div class="footer__social-name">
					Соц. сети
				</div>
				<div class="footer__social-links">
					<a href="#" class="social-link">
						{{Icon iconName="ws"}}
					</a>
					<a href="#" class="social-link">
						{{Icon iconName="insta"}}	
					</a>
					<a href="#" class="social-link">
						{{Icon iconName="youtube"}}	
					</a>
					<a href="#" class="social-link">
						{{Icon iconName="vk"}}	
					</a>
					<a href="#" class="social-link">
						{{Icon iconName="mail"}}	
					</a>
					<a href="#" class="social-link">
						{{Icon iconName="facebook"}}	
					</a>
				</div>
			</div>

			<div class="footer__contacts">
				<div class="footer__contacts-name">
					Контакты
				</div>
				<div class="footer__contacts-items">
					<a href="tel:+78003500335" class="phone">+7 800 350-03-35</a>
					<address>Махачкалинское шоссе, 206, г. Хасавюрт</address>
					<a href="mailto:automaster05@mail.ru" class="mail">automaster05@mail.ru</a>
				</div>
			</div>

		</div>

		<div class="footer__bottom">
			<div class="copyright">
				<span>© 2000 - 2020. "Автомастер"</span>
				<span>Вся информация на сайте - собственность инетрнет-магазина.</span>
			</div>
			<div class="up" id="up">
				{{Icon iconName="arrow-up"}}
			</div>
			<div class="alert">
				<span>Сайт не является публичной офертой.</span>
				<span>Публикация информации с сайта automaster05.ru без разрешения запрещена.</span>
			</div>
		</div>
	</div>
</footer>