<div class="overlay"></div>

<div class="popup popup__join"> <!-- Войти -->
	<div class="popup__close">
		&times;
	</div>
	<div class="popup__title title">
		Вход
	</div>
	<div class="popup__form">
		<form action="" class="form">
			<div class="popup__item">
				<input type="text" name="mail" class="popup__input" placeholder="Эл. почта">
			</div>
			
			<div class="popup__item">
				<input type="password" name="password" class="popup__input" placeholder="Пароль">
				<span class="show-pass">
					{{Icon iconName="eye"}}
				</span>
				<span class="hide-pass">
					{{Icon iconName="eye2"}}
				</span>
			</div>
			<div class="popup__pass">
				<div class="popup-link" data-popup-open="popup__drop">Забыли пароль?</div>
			</div>
			<div class="popup__btn">
				<button>Войти</button>
			</div>
		</form>
		<div class="popup__msg">
			<span>Ещё нет аккаунта?</span>
			<div class="popup-link" data-popup-open="popup__reg">Зарегистрироваться</div>
		</div>
	</div>
</div>

<div class="popup popup__reg"> <!-- Регистрация -->
	<div class="popup__close">
		&times;
	</div>
	<div class="popup__title title">
		Регистрация
	</div>
	<div class="popup__form">
		<form action="" class="form">
			<div class="popup__item">
				<input type="text" name="mail" class="popup__input" placeholder="Эл. почта">
			</div>
			<div class="popup__item">
				<input type="password" name="password" id="password" class="popup__input" placeholder="Пароль">
				<span class="show-pass">
					{{Icon iconName="eye"}}
				</span>
				<span class="hide-pass">
					{{Icon iconName="eye2"}}
				</span>
			</div>
			<div class="popup__item">
				<input type="password" name="repassword" class="popup__input" placeholder="Повторите пароль">
			</div>
			<div class="popup__conf">
				Нажимая на кнопку "Регистрация", я соглашаюсь с <a href="#" class="popup-link">Политикой конфиденциальности</a> и согласен получать оповещения об акциях на указанный мной емейл
			</div>
			<div class="popup__btn">
				<button>Зарегистрироваться</button>
			</div>
		</form>
		<div class="popup__msg">
			<span>Уже зарегистрированы?</span>
			<div class="popup-link" data-popup-open="popup__join">Войти</div>
		</div>
	</div>
</div>

<div class="popup popup__drop"> <!-- Сброс пароля -->
	<div class="popup__close">
		&times;
	</div>
	<div class="popup__title title">
		Сброс пароля
	</div>
	<div class="popup__text">
		Укажите свой Email, который был указан при регистрации. Мы отправим на него дальнейшие инструкции по сбросу пароля.
	</div>
	<div class="popup__form">
		<form action="" class="form">
			<div class="popup__item">
				<input type="text" name="mail" class="popup__input" placeholder="Эл. почта">
			</div>
			<div class="popup__btn">
				<button>Отправить</button>
			</div>
		</form>
		<div class="popup__msg">
			<div class="popup-link" data-popup-open="popup__join">Войти в аккаунт</div>
		</div>
	</div>
</div>

<div class="popup popup__buy"> <!-- Купить в 1 клик -->
	<div class="popup__close">
		&times;
	</div>
	<div class="popup__title title">
		Купить в 1 клик
	</div>
	<div class="popup__text">
		Оставьте номер телефона, оператор перезвонит вам в течении 5 минут и уточнит детали.
	</div>
	<div class="popup__form">
		<form action="" class="form">
			<div class="popup__item">
				<input type="text" name="name" class="popup__input" placeholder="ФИО">
			</div>
			<div class="popup__item">
				<input type="text" name="phone" class="popup__input phone-mask" placeholder="Номер телефона">
			</div>
			<div class="popup__btn">
				<button>Отправить</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup__inform"> <!-- Сообщить о поступлении -->
	<div class="popup__close">
		&times;
	</div>
	<div class="popup__title title">
		Сообщить о поступлении
	</div>
	<div class="popup__text">
		Укажите свой email или номер телефона, чтобы мы могли сообщить вам о поступлении товара
	</div>
	<div class="popup__tabs">
		<ul class="popup__list">
			<li class="popup__list-item active">Эл. почта</li>
			<li class="popup__list-item">Номер телефона</li>
		</ul>
		<div class="popup__tab active">
			<div class="popup__form">
				<form action="" class="form">
					<div class="popup__item">
						<input type="text" name="mail" class="popup__input" placeholder="Эл. почта">
					</div>
					<div class="popup__btn">
						<button>Отправить</button>
					</div>
				</form>
			</div>
		</div>
		<div class="popup__tab">
			<div class="popup__form">
				<form action="" class="form">
					<div class="popup__item">
						<input type="text" name="phone" class="popup__input phone-mask" placeholder="Номер телефона">
					</div>
					<div class="popup__btn">
						<button>Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="popup popup__price"> <!-- Узнать цену -->
	<div class="popup__close">
		&times;
	</div>
	<div class="popup__title title">
		Узнать цену
	</div>
	<div class="popup__text">
		Укажите свой email или номер телефона, чтобы мы могли сообщить вам о поступлении товара
	</div>
	<div class="popup__tabs">
		<ul class="popup__list">
			<li class="popup__list-item active">Эл. почта</li>
			<li class="popup__list-item">Номер телефона</li>
		</ul>
		<div class="popup__tab active">
			<div class="popup__form">
				<form action="" class="form">
					<div class="popup__item">
						<input type="text" name="mail" class="popup__input" placeholder="Эл. почта">
					</div>
					<div class="popup__btn">
						<button>Отправить</button>
					</div>
				</form>
			</div>
		</div>
		<div class="popup__tab">
			<div class="popup__form">
				<form action="" class="form">
					<div class="popup__item">
						<input type="text" name="phone" class="popup__input phone-mask" placeholder="Номер телефона">
					</div>
					<div class="popup__btn">
						<button>Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="popup popup__has"> <!-- Уточнить наличие товара -->
	<div class="popup__close">
		&times;
	</div>
	<div class="popup__title title">
		Уточнить наличие товара
	</div>
	<div class="popup__text">
		Укажите свой email или номер телефона, чтобы мы могли сообщить вам о поступлении товара
	</div>
	<div class="popup__tabs">
		<ul class="popup__list">
			<li class="popup__list-item active">Эл. почта</li>
			<li class="popup__list-item">Номер телефона</li>
		</ul>
		<div class="popup__tab active">
			<div class="popup__form">
				<form action="" class="form">
					<div class="popup__item">
						<input type="text" name="mail" class="popup__input" placeholder="Эл. почта">
					</div>
					<div class="popup__btn">
						<button>Отправить</button>
					</div>
				</form>
			</div>
		</div>
		<div class="popup__tab">
			<div class="popup__form">
				<form action="" class="form">
					<div class="popup__item">
						<input type="text" name="phone" class="popup__input phone-mask" placeholder="Номер телефона">
					</div>
					<div class="popup__btn">
						<button>Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="popup popup__share">
	<div class="popup__close">
		&times;
	</div>
	<div class="popup__title title">
		Поделиться
	</div>
	<div class="popup__social">
		<a href="#" class="popup__social-link">
			{{Icon iconName="popup-vk"}}
		</a>
		<a href="#" class="popup__social-link">
			{{Icon iconName="popup-face"}}
		</a>
		<a href="#" class="popup__social-link">
			{{Icon iconName="popup-ws"}}
		</a>
		<a href="#" class="popup__social-link">
			{{Icon iconName="popup-ok"}}
		</a>
	</div>

	<div class="popup__tovar-link">
		<span id="text">Ссылка на товар</span>
		<div class="popup__item">
			<input type="text" class="popup__input" id="input-link">
		</div>
		<div class="copy-link" id="copy-link">
			{{Icon iconName="copy"}}
			Скопировать ссылку
		</div>
	</div>
</div>