<div class="news__item">
	<div class="news__item-image">
		<img src="%=static=%img/general/news/2.png" alt="Новости">
	</div>
	<div class="news__item-body">
		<a href="#" class="news__item-title">
			У нас появился новый  официальный канал на YouTube
		</a>
		<div class="news__item-desc">
			Приятно, граждане, наблюдать, как стремящиеся вытеснить традиционное производство, нанотехнологии...
		</div>
		<div class="news__item-date">
			12 марта 2020
		</div>
	</div>
</div>