<header class="header head">
	<div class="wrapper">
		<div class="header__top">
			<div class="header__logo">
				<a href="/" class="header__link">
					<img src="%=static=%img/general/logo.png" alt="Главная">
				</a>
			</div>
			<div class="header__search">
				<form action="" class="header__form">
					<input type="text" class="header__input" placeholder="Поиск по сайту">
					<button class="header__button">
						{{Icon iconName="search"}}
					</button>
				</form>
			</div>
			<div class="header__phone">
				<a href="tel:88007755033">8 (800) 775-50-33</a>
				<span>Звонок по России бесплатный</span>
			</div>
			<div class="header__events">
				<div class="header__event">
					<a href="#" class="header__fav header-link hover-link">
						{{Icon iconName="heart"}}
						<span>Избранное</span>
						<span class="cart-value">
							2
						</span>
					</a>
				</div>
				<div class="header__event">
					<a href="#" class="header__cart header-link hover-link">
						{{Icon iconName="cart"}}
						<span>Корзина</span>
						<span class="cart-value">
							2
						</span>
					</a>
					<div class="cart-empty">
						<div class="cart-empty-image">
							<img src="%=static=%img/general/empty.png" alt="Пустая корзина">
						</div>
						<div class="cart-empty-text">
							<span class="cart-empty-span">Ваша корзина пуста</span>
							<a href="#" class="cart-empty-link">перейти в каталог</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="header__bottom">
			<nav class="header__nav">
				<span class="header__catalog">
					<span class="burger">
						<span class="burger-line"></span>
						<span class="burger-line"></span>
						<span class="burger-line"></span>
					</span>
					Каталог
				</span>
				<a href="#" class="nav-link hover-link active">Бренды</a>
				<a href="#" class="nav-link hover-link">Новинки</a>
				<a href="#" class="nav-link hover-link">Акции</a>
				<a href="#" class="nav-link hover-link">Новости</a>
				<a href="#" class="nav-link hover-link">Проектирование</a>
				<a href="#" class="nav-link hover-link">Доставка и оплата</a>
				<a href="#" class="nav-link hover-link">Контакты</a>
				<a href="#" class="nav-link hover-link">О компании</a>
				<span class="more-menu">
					...
					<span class="toggle-menu"></span>
				</span>
			</nav>

			<div class="header__login" data-popup-open="popup__join">
				<a href="#" class="login">
					{{Icon iconName="login"}}
					Войти в аккаунт
				</a>
			</div>

			<!-- Авторизованный пользователь -->
			<!-- <div class="header__login">
				<a href="#" class="login">
					{{Icon iconName="user"}}
					Личный кабинет
				</a>
			</div> -->

		</div>
	</div>

	<div class="catalogMenu">
		<div class="catalog-bg"></div>
		<div class="catalogMenu-wrap">
			<div class="wrapper">
				<div class="catalogMenu__title">
					Каталог
				</div>
				<div class="catalogMenu-items">
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/1.png" alt="Продукт">
							<span>Подъемники</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/2.png" alt="Продукт">
							<span>Шиномонтажное оборудование</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/3.png" alt="Продукт">
							<span>Компрессорное оборудование</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/4.png" alt="Продукт">
							<span>Оборудование для диагностики</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/5.png" alt="Продукт">
							<span>Сход-развальные стенды</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/6.png" alt="Продукт">
							<span>Складское и торговое оборуд</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/7.png" alt="Продукт">
							<span>Рихтовка и кузовные работы</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/8.png" alt="Продукт">
							<span>Инструмент</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/9.png" alt="Продукт">
							<span>Гаражное оборудование</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/10.png" alt="Продукт">
							<span>Генераторы</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item">
							<img src="%=static=%img/general/catalog/11.png" alt="Продукт">
							<span>Расходные материалы для вулканизации</span>
						</a>
					</div>
					<div class="catalog__back">
						<div class="back-bg"></div>
						<a href="#" class="catalog__products-item to-catalog">
							<span class="catalog-value">16+</span>
							<span>ещё категории</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="fixed-header head">
	<div class="wrapper">
		<div class="fixed-header-container">
			<div class="header__logo">
				<a href="/" class="header__link">
					<img src="%=static=%img/general/logo.png" alt="Главная">
				</a>
			</div>
			<nav class="header__nav">
				<span class="header__catalog">
					<span class="burger">
						<span class="burger-line"></span>
						<span class="burger-line"></span>
						<span class="burger-line"></span>
					</span>
					Каталог
				</span>
				<a href="#" class="nav-link hover-link">Бренды</a>
				<a href="#" class="nav-link hover-link">Новинки</a>
				<a href="#" class="nav-link hover-link">Акции</a>
				<a href="#" class="nav-link hover-link">Новости</a>
				<a href="#" class="nav-link hover-link">Проектирование</a>
				<a href="#" class="nav-link hover-link">Доставка и оплата</a>
				<a href="#" class="nav-link hover-link">Контакты</a>
				<a href="#" class="nav-link hover-link">О компании</a>
				<span class="more-menu">
					...
					<span class="toggle-menu"></span>
				</span>
			</nav>
		</div>
	</div>
</div>