<div class="tovar__body">
	<div class="tovar__body-items">
		<ul class="tovar__list">
			<li class="tovar__list-item active">
				Описание
			</li>
			<li class="tovar__list-item">Расширенная комплектация</li>
			<li class="tovar__list-item">Запасные части</li>
			<li class="tovar__list-item">Подходит как запчасть</li>
		</ul>

		<a href="#" class="share">
			{{Icon iconName="share"}}
			Поделиться
		</a>
	</div>

	<div class="tovar__tab active"> <!-- Таб описания -->
		<div class="tovar__tab-row">
			<div class="tovar__info">
				<div class="tovar__title">
					Описание
				</div>
				<div class="tovar__block">
					<img src="%=static=%img/general/tovar/2.png" alt="Товар">
					<div class="tovar__block-text">
						Электрогидравлический двухстоечный подъемник симметричной конструкции с нижней синхронизацией. Подъемник оснащен надежной системой блокировки, предотвращающей падение автомобиля. Независимая система замков безопасности работает отдельно для каждой стойки. Два цилиндра. Минимальные требования к обслуживанию.
					</div>
				</div>

				<div class="tovar__tech">
					<div class="tovar__tech-title">
						Технические характеристики
					</div>
					<div class="tovar__tech-items">
						<div class="tovar__tech-item">
							<span>Грузоподъемность</span>
							<div class="dots"></div>
							<p>4000 кг</p>
						</div>
						<div class="tovar__tech-item">
							<span>Высота подъема</span>
							<div class="dots"></div>
							<p>1940 мм</p>
						</div>
						<div class="tovar__tech-item">
							<span>Высота подъемника</span>
							<div class="dots"></div>
							<p>2860 мм</p>
						</div>
						<div class="tovar__tech-item">
							<span>Общая ширина подъемника</span>
							<div class="dots"></div>
							<p>3410 мм</p>
						</div>
						<div class="tovar__tech-item">
							<span>Расстояние между стойками</span>
							<div class="dots"></div>
							<p>2780 мм.</p>
						</div>
						<div class="tovar__tech-item">
							<span>Размер подхватов</span>
							<div class="dots"></div>
							<p>750-1200 мм.</p>
						</div>
						<div class="tovar__tech-item">
							<span>Время подъема</span>
							<div class="dots"></div>
							<p>50 сек.</p>
						</div>
						<div class="tovar__tech-item">
							<span>Мощность ( 380В)</span>
							<div class="dots"></div>
							<p>2,2 кВт.</p>
						</div>
						<div class="tovar__tech-item">
							<span>Вес</span>
							<div class="dots"></div>
							<p>с 875 кг</p>
						</div>
						<div class="tovar__tech-item">
							<span>Упаковочные размеры подъемника</span>
							<div class="dots"></div>
							<p>2900х520х750 мм</p>
						</div>
						<div class="tovar__tech-item">
							<span>Размер маслостанции</span>
							<div class="dots"></div>
							<p>1000х300х300 мм</p>
						</div>
					</div>
				</div>

				<div class="tovar__text content">
					<p >Стойки гидравлического подъёмника с толщиной металла более 5мм оборудованы специальными рёбрами жёсткости для предотвращения деформации колонн.</p>
					<p >Тросы автомобильного подъёмника со стальным сердечником, оцинкованные. Не ржавеют.</p>
					<p>Уплотнительные элементы гидравлической системы итальянского производства, гидравлические цилиндры поставляются для американских подъёмников ROTARY, гидравлические цилиндры имеют серийный номер , что подтверждает их надёжность.</p>
					<p >Стойки гидравлического подъёмника с толщиной металла более 5мм оборудованы специальными рёбрами жёсткости для предотвращения деформации колонн.</p>
					<p >Тросы автомобильного подъёмника со стальным сердечником, оцинкованные. Не ржавеют.</p>
					<p>Уплотнительные элементы гидравлической системы итальянского производства, гидравлические цилиндры поставляются для американских подъёмников ROTARY, гидравлические цилиндры имеют серийный номер , что подтверждает их надёжность.</p>
					<div class="blur"></div>
				</div>
				<div class="show-text">Развернуть описание</div>
			</div>
			<div class="tovar__docs">
				<div class="tovar__title">
					Документы
				</div>
				<div class="tovar__docs-items">
					<a href="#" class="tovar__docs-item" download>
						{{Icon iconName="doc"}}
						<span class="doc-info">
							<span class="doc-name">Инструкция по эксплуатации</span>
							<span class="doc-params">
								pdf, 64 кБ
							</span>
						</span>
					</a>
					<a href="#" class="tovar__docs-item" download>
						{{Icon iconName="doc"}}
						<span class="doc-info">
							<span class="doc-name">Технические характеристики</span>
							<span class="doc-params">
								pdf, 64 кБ
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tovar__tab"> <!-- Таб расширенная комплектация -->
		
	</div>
	<div class="tovar__tab"> <!-- Таб запасные части -->
		
	</div>
	<div class="tovar__tab"> <!-- Таб подходит как запчасть -->
		
	</div>
</div>