<div class="swiper-container main-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide main-slide">
			<a href="#" class="main-link">
				<img src="%=static=%img/general/banner.png" class="main-img" data-mob="static/img/general/mob1.jpg">
			</a>
		</div>
		<div class="swiper-slide main-slide">
			<a href="#" class="main-link">
				<img src="%=static=%img/general/banner3.jpg" class="main-img" data-mob="static/img/general/mob2.jpg">
			</a>
		</div>
		<div class="swiper-slide main-slide">
			<a href="#" class="main-link">
				<img src="%=static=%img/general/banner.png" class="main-img" data-mob="static/img/general/mob1.jpg">
			</a>
		</div>
	</div>
</div>
<div class="slider-btn main-btn-prev">
	{{Icon iconName="arrow"}}
</div>
<div class="slider-btn main-btn-next">
	{{Icon iconName="arrow"}}
</div>
